@use '../variables/font-family'as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

header {
    width: 100%;
    height: auto;
    background-color: rgb(43, 43, 43);
    color: white;
}

h1 {
    margin: 0;
    padding: 1rem;
}